<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div class="box">
        <h2>Calendar of Events</h2>
        <ul>
            <!-- Calendar of Events content goes here -->
        </ul>
    </div>
    <div class="box">
        <h2>Approve Organisations</h2>
        <ul>
            <!-- Feedback on Past Events content goes here -->
        </ul>
    </div>
    <a href="{{ url_for('opportunities') }}">opportunities</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>